* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


body {
    text-align: center;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    /* background-color: #093145; */
    }

ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
nav {
    font-family: 'Lora' , 'Roboto' , serif;
    font-weight: 400;
    letter-spacing: .05em;
    /* background-color: #829356; */
    padding: 25px;
    
  }
  h1, .top-nav {
    text-align: center;
  }
  h2#portfolio{
    line-height: 200px;
    
  }
  .top-nav, .top-nav li {
    width: 100%;
  }
  
  h1 a, .top-nav a {
    color: #000;
  }
  
  .top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
  }
  
  .top-nav a {
    text-transform: uppercase;
  }
  .container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }
  .col {
    flex-wrap: wrap;
    margin: 10px;
    min-height: 30px;
    color: black;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
  }
  
  .box-1 {
    /* background-color: #093145; */
   
  }
  
  .box-2 {
    /* background-color: #3C6478; */
  }
  
  .box-3 {
    /* background-color: #107896; */
  }
  
  .box-1 {
    /* background-color: #829356; */
  }
  
  .box-5 {
    /* background-color: #C2571A; */
  }
  
  .box-6 {
    /* background-color: #9A2617; */
  }
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h2 {text-align: center;
    }
  .port-images {
    display: flex;
    margin: 0, auto;
    max-width: 90%;
    
  }
  footer {
    background-color: lightgray;
  }
  footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* background-color: #107896; */
  }
  .full {
    display: none;
  }
  
  .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top{
font-weight: bold;

}
.info {
  font-weight: bold;
}    

.col {
    flex-wrap: wrap;
  }
@media screen and (min-width: 768px) {
      ul.top-nav , h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
     }
     .header-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      background-color:lightgrey;
      margin: 0 auto;
      padding: 30px;
      }
      .container  {
        display: flex;
        flex-wrap: wrap;
      }
      .container h2 {
        flex-basis: 100%
      }
    .container .col {
      flex-basis: calc(50% - 30px)
      }
      .top {
        display: none;
      }
      .full{
        display:inline-block;
        margin-left: 20px;
        font-weight: bold;
      }
    
    }
    @media screen and (min-width: 1024px) {
      .container .col {
          flex-basis: calc(33.33% - 20px);
      }
  }

      
  
    
        
    
        
        
      
      
    

  